services:
  sherazdev:
    container_name: sherazdev
    build: .
    volumes:
      - ./:/var/www/html
    ports:
      - 9000:80
  
  mariadb:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sherazdev
    ports:
    - 3306:3306
  
  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - 9001:80
    environment:
      - PMA_ARBITRARY=1